.nav-link{
    color: white;
}

.nav-link .fa{
    transition: all 1s;
}
.nav-link:hover .fa{
    transform: rotate(360deg);
    font-size: 18px;
}
.nav-link:hover{
    color: white;
    background-color: gray;
}
.activo {
    background-color: gray;
}
.perfil{
    background-image: url("../img/fondo2.jpg");
}
.color-izq{
    background-color: gray;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
