*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    justify-content: space-around;
}
@media(max-width:1000px){
    .row{
        padding: 20px 50px;
    }
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}
.nav-link{
    color: white;
}

.nav-link .fa{
    transition: all 1s;
}
.nav-link:hover .fa{
    transform: rotate(360deg);
    font-size: 18px;
}
.nav-link:hover{
    color: white;
    background-color: gray;
}
.activo {
    background-color: gray;
}
.perfil{
    background-image: url("../img/fondo2.jpg");
}
.color-izq{
    background-color: gray;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
